body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    height: 100vh;
}

.leaderboard {
    flex-grow: 1;
    padding: 20px;
}

.leaderboard h2 {
    margin-bottom: 20px;
}

.leaderboard ul {
    list-style: none;
    padding: 0;
}

.leaderboard li {
    padding: 10px;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s, color 0.3s;
}

.leaderboard li:last-child {
    border-bottom: none;
}

.control-panel {
    width: 200px;
    padding: 20px;
    background-color: #444;
    border-left: 1px solid #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

.control-panel h2 {
    margin-bottom: 20px;
}

.control-panel button {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.control-panel button:hover {
    background-color: #0056b3;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #eee;
}

.control-panel.dark-mode {
    background-color: #444;
    border-left: 1px solid #555;
}

.leaderboard li.dark-mode {
    border-bottom: 1px solid #555;
}

.leaderboard li.crashed {
    background-color: yellow;
    color: black;
}
