body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .race-results {
    background-color: #1e1e1e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.dark-mode .race-results li {
    border-bottom: 1px solid #333;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.race-results {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.race-results h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.race-results ul {
    list-style-type: none;
    padding: 0;
    transition: all 0.3s ease;
}

.race-results li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    transition: border-bottom 0.3s ease, transform 0.3s ease;
}

.race-results li.moving {
    transform: translateX(20px);
    transition: transform 0.3s ease;
}

.race-results li:last-child {
    border-bottom: none;
}

.container{
    text-align: center;
}

.timer {
    font-size: 20px;
    margin-bottom: 10px;
}

.timer.yellow-flag {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

#modeToggle {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.control-panel {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.dark-mode .control-panel {
    background-color: #333;
    color: #eee;
}
